table,td
{
border:2px solid black;
border-collapse: collapse;
}
#black
{
background:black;
width:100px;
}
#white
{
background:white;
width:100px
}
td
{
height:100px;
}
h1
{
font-size:100px;
text-align:center;
color:black;
}
body
{
background:pink;
}

